<div class="col-span-12 md:col-span-3 border rounded-lg p-4">
    <div class="space-y-4">
        <div class="flex items-center justify-between">
            <h3 class="font-bold">Repository Files</h3>
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                    </svg>
                </label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 z-50">
                    <li><a onclick="window.location.reload()">Change Repository</a></li>
                    <li><a onclick="disconnectGitHub()">Disconnect GitHub</a></li>
                </ul>
            </div>
        </div>
        
        <div class="divider my-2"></div>
        
        <div id="file-browser" class="space-y-2 min-h-[200px] overflow-y-auto max-h-[calc(100vh-20rem)]">
            <div class="loading loading-spinner loading-md"></div>
        </div>
    </div>
</div>
