<div class="file-browser-container">
    <div class="file-browser-header">
        <span>Files</span>
        <span class="repo-badge">{{ project.repository.split('/')[1] }}</span>
    </div>
    <div id="file-browser" class="file-browser">
        <div class="loading-container">
            <div class="loading loading-spinner loading-sm"></div>
        </div>
    </div>
</div>
