<div class="grid grid-cols-12 gap-6">
    <%- include('./editor/Sidebar') %>
    <%- include('./editor/MainEditor') %>
</div>

<script>
    window.selectedRepo = '<%= locals.user.selected_repo %>';
    window.contentDirectory = '<%= locals.user.content_directory %>';
</script>
<script type="module" src="/js/fileEditor.js"></script>
